@import "tailwindcss";

:root {
	--color-primary-searchmind: #1E2B2B;
	--color-primary-searchmind-lighter: #406969;
	--color-primary-searchmind-lighter-opacity: #4069698f;
	--color-primary-searchmind-hover: #344b4b;
	--color-secondary-searchmind: #D6CDB6;
	--color-secondary-searchmind-hover: #c0b8a3;

	--var-test: #5e8888;

	/* New palette colors */
	--color-dark-green: #1E2928;
	--color-lime: #C6ED62;
	--color-natural: #FEFBF2;
	--color-light-natural: #EAE3D1;
	--color-dark-natural: #D6CDB6;
	--color-light-green: #6A8F4D;
	--color-green: #213834;
	--color-black: #131313;

	/* Palette 1 (Deep Sea) */
	--ink-black: #0d1b2a;
	--prussian-blue: #1b263b;
	--dusk-blue: #415a77;
	--dusty-denim: #778da9;
	--alabaster-grey: #e0e1dd;
}

@theme {
	/* Searchmind Deep Sea Color Palette */
	--color-background: #ffffff;
	--color-foreground: #0d1b2a;
	--color-card: #e0e1dd;
	--color-card-foreground: #0d1b2a;
	--color-popover: #e0e1dd;
	--color-popover-foreground: #0d1b2a;

	--color-primary: #1b263b;
	--color-primary-foreground: #e0e1dd;

	--color-secondary: #778da9;
	--color-secondary-foreground: #0d1b2a;

	--color-muted: #415a77;
	--color-muted-foreground: #e0e1dd;

	--color-accent: #1b263b;
	--color-accent-foreground: #e0e1dd;

	--color-destructive: #213834;
	--color-destructive-foreground: #ffffff;

	--color-border: #778da9;
	--color-input: #778da9;
	--color-ring: #1b263b;

	--radius: 0.5rem;
}

body {
	color: var(--color-foreground);
	font-family: var(--font-outfit), var(--font-geist-sans), sans-serif;
}