@import "tailwindcss";

:root {
	--color-primary-searchmind: #1E2B2B;
	--color-primary-searchmind-lighter: #406969;
	--color-primary-searchmind-lighter-opacity: #4069698f;
	--color-primary-searchmind-hover: #344b4b;
	--color-secondary-searchmind: #D6CDB6;
	--color-secondary-searchmind-hover: #c0b8a3;

	--var-test: #5e8888;

	/* New palette colors */
	--color-dark-green: #1E2928;
	--color-lime: #C6ED62;
	--color-natural: #FEFBF2;
	--color-light-natural: #EAE3D1;
	--color-dark-natural: #D6CDB6;
	--color-light-green: #6A8F4D;
	--color-green: #213834;
	--color-black: #131313;
}

@theme {
  /* Searchmind Color Palette */
  --color-background: var(--color-natural);
  --color-foreground: var(--color-black);
  --color-card: var(--color-natural);
  --color-card-foreground: var(--color-black);
  --color-popover: var(--color-natural);
  --color-popover-foreground: var(--color-black);

  --color-primary: var(--color-primary-searchmind);
  --color-primary-foreground: var(--color-natural);

  --color-secondary: var(--color-secondary-searchmind);
  --color-secondary-foreground: var(--color-black);

  --color-muted: var(--color-light-natural);
  --color-muted-foreground: var(--color-green);

  --color-accent: var(--color-lime);
  --color-accent-foreground: var(--color-black);

  --color-destructive: var(--color-dark-green);
  --color-destructive-foreground: var(--color-natural);

  --color-border: var(--color-dark-natural);
  --color-input: var(--color-dark-natural);
  --color-ring: var(--color-primary-searchmind);

  --radius: 0.5rem;
}

body {
	color: var(--color-foreground);
	font-family: var(--font-outfit), var(--font-geist-sans), sans-serif;
}